rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}{
      // ユーザーは自分のuserId以降の階層のデータのみ参照
      match /{document=**} {
        allow read: if request.auth != null && request.auth.uid == userId;
      }
      // badgesへの書き込み
      match /badges/{badgeId} {
        allow write: if request.resource.data.keys().hasAll(['badge']);
        // booksへの書き込み
        match /books/{bookId} {
          allow write: if request.resource.data.keys().hasAll(['title', 'overview']);
          // notesへの書き込み
          match /notes/{noteId} {
            allow write: if request.resource.data.keys().hasAll(['page', 'label', 'note', 'clozeNote']);
          }
        }
      }
    }
  }
}
