rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 必須フィールドと任意フィールドを定義する関数
    function verifyFields(required, optional) {
      let allAllowedFields = required.concat(optional);
      return request.resource.data.keys().hasAll(required) &&
        request.resource.data.keys().hasOnly(allAllowedFields);
    }

    match /users/{userId}{
      // ユーザーは自分のuserId以降の階層のデータのみ参照
      match /{document=**} {
        allow read: if request.auth != null && request.auth.uid == userId;
      }
      // typesへの書き込み
      match /types/{typeId} {
        allow write: if verifyFields(['type']);
        // booksへの書き込み
        match /books/{bookId} {
          allow write: if verifyFields(['title', 'overview']);
          // notesへの書き込み
          match /notes/{noteId} {
            allow write: if verifyFields(['page', 'label', 'content'], ['cloze_1', 'cloze_2', 'cloze_3']);
          }
        }
      }
    }
  }
}
